<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
              minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>


        <div class="bs-example container" data-example-id="simple-table">

            <a href="/home/addABlog" class="btn btn-default">增加一条博客</a>


            <table class="table table-striped table-bordered">
                <caption>我的微博记录</caption>
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0;i < list.length;i++) { %>
                        <tr>
                            <td><%= list[i].title %></td>
                            <td>
                                <button class="btn btn-default update" type="submit">更新</button>
                                <button class="btn btn-default delete"
                                        type="submit" my-id="<%= list[i]._id %>">删除</button>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <script>
            let del = document.querySelector(".delete");
            if (del) {
                del.onclick = function (ev) {
                    let that = this;
                    if (that) {
                        $.ajax({
                            url : '/home/api/delete',
                            data : {
                                deleteId : that.getAttribute('my-id')
                            },
                            type : 'get',
                            success : function (resu) {
                                if (resu.ok) {
                                    that.parentNode.parentNode.remove();
                                }
                            }
                        });
                    }
                }
            }

        </script>
    </body>
</html>